html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

.content {
  padding: 0 10%;
}

footer {
  padding: 25px 10%;
  background-color: blue;
}

nav {
  padding: 25px 10%;
  background-color: green;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

nav ul > li {
  margin: 0;
  padding: 0 5px;
}